@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500;700&family=Inter:wght@300;500&display=swap');

html {
    font-family: 'DM Sans', sans-serif;
    font-size: 62.5%;
}

:root {
    /* font */
    --Inter: 'Inter', sans-serif;
    /* color */
    --Bitcoin-orange: #F7931A;
    --Soft-Orange: #FFE9D4;
    --Gray: #757575;
    --Other-gray: #808080;
    --Just-white: #FAF8F7;
    --Warm-black: #201E1C;

}

main {
    width: 100%;
    min-width: 320px;
    text-align: center;
    display: grid;
    justify-items: center;
    background-color: var(--Just-white);
}

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

.title {
    font-size: 2.4rem;
    line-height: 26px;
    font-weight: 700;
}

.subtitle {
    font-size: 1.4rem;
    line-height: 18px;
    font-weight: 500;
}

.subtitle--primary {
    color: var(--Gray);
}

.subtitle--secondary {
    color: var(--Other-gray);
}


header {
    position: relative;
    display: grid;
    width: 100%;
    min-width: 320px;
    height: 334px;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
    text-align: center;
    justify-items: center;
}

.header__logo {
    display: flex;
    align-items: center;
    gap: 5px;
    color: var(--Bitcoin-orange);
}

.header__content {
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
    justify-content: space-around;
    align-items: center;
    width: 80%;
}

.header__subtitle {
    color: var(--Soft-Orange);
}

.header__title {
    color: var(--Just-white);
}

.header__nav {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    min-width: 226px;
    max-width: 50%;
    background-color: var(--Just-white);
    border-radius: 4px;
    box-shadow: 0px 4px 8px rgba(61, 50, 21, 0.452);
    color: var(--Warm-black);
    font-size: 1.4rem;
    font-weight: 700;
    bottom: -20px;
}

.header__nav span {
    background-image: url('../assets/mdi_keyboard_arrow_down.svg');
    background-position: center;
    background-size: cover;
    height: 14px;
    width: 24px;
}

/*-------------Exchange-rates-section------------------------*/

.exchange-rate {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 65px 0;
    width: 80%;
}

.exchange-rate img {
    width: 194px;
}

.exchange-rate__titles {
    display: flex;
    flex-direction: column;
    gap: 26px;
    margin: 46px 0;
}

.card__title {
    margin-bottom: 12px;
    font-size: 1.8rem;
    color: var(--Bitcoin-orange);
    font-weight: 700;
}

.card__table {
    width: 194px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-auto-rows: 38px;
    list-style: none;
    font-family: var(--Inter);
    background-color: #FFFFFF;
    color: #B5B0AC;
    border-radius: 8px;
}



.card__table li {
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 15px;
    font-size: 1.6rem;
}

.card__table li:nth-child(2n) {
    justify-content: center;
    font-size: 1.4rem;
    padding: 0;
}

.card__table p {
    display: inline-flex;
    align-items: center;
    gap: 15px;
}

.card__table span {
    width: 14px;
    height: 14px;
    background-repeat: no-repeat;
    background-size: cover;
}

.card__table .trending_down {
    background-image: url('../assets/trending-down.svg');
}

.card__table .trending_up {
    background-image: url('../assets/trending-up.svg');
}

.exchange-rate__update {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    width: 174px;
    height: 32px;
    background-color: var(--Soft-Orange);
    border-radius: 8px;
    font-size: 1.2rem;
}